@model MetaMindsCodingTask.Models.UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Users</h1>

    <div style="width:10%">
        <a class="" id="add" style="cursor:pointer" title="Add" onclick="CreateUser()">Add User</a>
    </div>

    <table class="table table-striped table-condensed table-hover">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Avatar</th>
            <th></th>
        </tr>

        <tbody>
            @foreach(var item in Model.Data)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.First_Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Last_name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td><img src=@Html.DisplayFor(modelItem => item.Avatar) alt="Girl in a jacket" width="25" height="25"></td>
                    <td>
                        <a class="" id="@item.Id" style="cursor:pointer" title="Details" onclick="DisplayDetails(@item.Id)">Details</a>
                        <a class="" id="@item.Id" style="cursor:pointer" title="Delete" onclick="ConfirmDelete(@item.Id)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>    
    </table>
</div>

@*DeleteModal*@
 <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete User</h3>
                <button type="button" class="close" onclick="CloseDeleteModal()">&times;</button>
            </div>
            <div class="modal-body">
                <h6>Are you sure ? You want to delete this. </h6>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" onclick="CloseDeleteModal()">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteUser()">Confirm</a>
            </div>
        </div>
    </div>
    @*hidden field for storing current employeeId*@
    <input type="hidden" id="hiddenUserId" />
</div>

@*DisplayDetails*@
<div id="detailsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">User Details</h3>
                <button type="button" class="close" onclick="CloseDisplayModal()">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" onclick="CloseDisplayModal()">Close</a>
            </div>
        </div>
    </div>
</div>

@*CreateUser*@
<div class="modal fade" id="addModal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
     <form method="post" asp-controller="Home" asp-action="Create">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Add Employee</h3>
         <button type="button" class="close" onclick="CloseAddModal()">&times;</button>
      </div>
      <div class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" required="required" name="name"/>
            </div>
            <div class="form-group">
                <label>Job</label>
                <input type="text" class="form-control" required="required" name="job"/>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="CloseAddModal()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
     </form>
    </div>
  </div>
</div>

